{% templatetag openblock %} extends "{{ app_label }}/{{ model_name_slug }}_base.html" {% templatetag closeblock %}

{% verbatim %}{% block title %}{% endverbatim %}
    Create {{ model_name }}
{% verbatim %}{% endblock %}{% endverbatim %}

{% verbatim %}{% block content %}{% endverbatim %}
<h1><a href={% templatetag openblock %} url "{{ model_name_slug }}_list" {% templatetag closeblock %}>{{ model_name }}</a></h1>
<h2>Create {{ model_name }}</h2>

<form action="" method="post">{% verbatim %}{% csrf_token %}{% endverbatim %}
    {% verbatim %}{{ form.as_p }}{% endverbatim %}
    <input type="submit" value="Create" />
</form>
<a href={% templatetag openblock %} url "{{ model_name_slug }}_list" {% templatetag closeblock %}>Cancel</a>
{% verbatim %}{% endblock %}{% endverbatim %}