{% templatetag openblock %} extends "{{ app_label }}/{{ model_name_slug }}_base.html" {% templatetag closeblock %}

{% verbatim %}{% block title %}{% endverbatim %}
    Update {% templatetag openvariable %} {{ model_name_slug }} {% templatetag closevariable %}
{% verbatim %}{% endblock %}{% endverbatim %}

{% verbatim %}{% block content %}{% endverbatim %}
<h1><a href={% templatetag openblock %} url "{{ model_name_slug }}_list" {% templatetag closeblock %}>{{ model_name }}</a></h1>
<h2>Update {% templatetag openvariable %} {{ model_name_slug }} {% templatetag closevariable %}</h2>

<form action="" method="post">{% verbatim %}{% csrf_token %}{% endverbatim %}
    {% verbatim %}{{ form.as_p }}{% endverbatim %}
    <input type="submit" value="Update" />
</form>
<a href={% templatetag openblock %} url "{{ model_name_slug }}_detail" {{ model_name_slug }}.{{ lookup_field }} {% templatetag closeblock %}>Cancel</a>
<form style="display:inline;" action={% templatetag openblock %} url "{{ model_name_slug }}_delete" {{ model_name_slug }}.{{ lookup_field }} {% templatetag closeblock %} method="post" onsubmit="return confirm('Are you sure you want to delete {% templatetag openvariable %} {{ model_name_slug }} {% templatetag closevariable %}?')">{% verbatim %}{% csrf_token %}{% endverbatim %}
    <input type="submit" value="Delete" />
</form>
{% verbatim %}{% endblock %}{% endverbatim %}